<Config>
  <Port>8989</Port>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{ sonarr_general_security_api_key }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LogLevel>info</LogLevel>
  <LaunchBrowser>False</LaunchBrowser>
  <Branch>main</Branch>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <UpdateAutomatically>False</UpdateAutomatically>
  <UrlBase></UrlBase>
</Config>
