[Unit]
Description=Sonarr Daemon.
After=network.target

[Service]
Type=simple
ExecStart={{ sonarr__cfg._app_d ~ "/Sonarr" }} -nobrowser -data={{ sonarr___app._var_d }}
TimeoutStopSec=20
Restart=always
User={{ sonarr__srv._user }}
Group={{ sonarr__srv._group }}
UMask=0002
KillMode=process

[Install]
WantedBy=multi-user.target