<Config>
  <Port>{{ sonarr_port | default('8989') }}</Port>
  <BindAddress>{{ sonarr_bind_address }}</BindAddress>
  <SslPort>{{ sonarr_ssl_port | default('9898') }}</SslPort>
  <EnableSsl>{{ sonarr_enable_ssl }}</EnableSsl>
  <ApiKey>{{ sonarr_api_key }}</ApiKey>
  <AuthenticationMethod>{{ sonarr_authentication_method }}</AuthenticationMethod>
  <LogLevel>{{ sonarr_log_level }}</LogLevel>
  <LaunchBrowser>{{ sonarr_launch_browser }}</LaunchBrowser>
  <Branch>{{ sonarr_branch }}</Branch>
  <SslCertHash>{{ sonarr_ssl_cert_hash }}</SslCertHash>
  <UpdateMechanism>{{ sonarr_update_mechanism }}</UpdateMechanism>
  <AnalyticsEnabled>{{ sonarr_analytics_enabled }}</AnalyticsEnabled>
  <UpdateAutomatically>{{ sonarr_update_automatically }}</UpdateAutomatically>
  <UrlBase>{{ sonarr_url_base }}</UrlBase>
</Config>
